/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
#bulletin-board {
    display: inline-block;
    vertical-align: middle;
    width: 1000px;
    height: 1000px;
}

h2 {
    background-color: darkkhaki;
    text-align: center;
    padding: 20px;
    width: 200px;
    box-shadow: 5px 6px 20px;
}

p {
    background-color: rgb(63, 153, 237);
    text-align: center;
    width: 100px;
    padding: 20px;
    box-shadow: 7px 6px 20px;
}

ul {
    padding: 30px;
    width: 269px;
    background-color: darksalmon;
    box-shadow: 5px 6px 20px;
}

h3 {
    background-color: lavender;
    text-align: center;
    width: 110px;
    padding: 20px;
    box-shadow: 5px 6px 20px;
}

ol {
    background-color: khaki;
    text-align: center;
    box-shadow: 9px 5px 15px;
    width: 200px;
}

.bullet-board {
    display: inline-block;
    vertical-align: super;
    align-items: first baseline;
}

img {
    box-shadow: 9px 5px 15px ;
}

