/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
h2 {
    background-color: darkkhaki;
    text-align: center;
    padding: 20px;
    width: 200px;
    box-shadow: 5px 6px 20px;
}

p {
    background-color: rgb(63, 153, 237);
    text-align: center;
    width: 100px;
    padding: 20px;
    box-shadow: 7px 6px 20px;
}

ul {
    text-align:center;
    padding: 30px;
    width: 269px;
    background-color: darksalmon;
    box-shadow: 5px 6px 20px;
}

