* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 1200px;
    margin: 0px auto;
}

#side-by-side-container {
    display: flex;
    align-items: center;
    gap: 36px;
}

#side-by-side-container img {
   width: 90px ;
}

#side-by-side-container
#side-by-side-container-adv img {
    width: 5px;
}

#side-by-side-container-adv .image-container {
    display: flex 1px;
}

#side-by-side-container-adv .text-container {
    display: flex 5px;
}