* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.horizontal-masonry-gallery img {
    height: 250px;
    flex: 1;
}

.vertical-masonry-gallery{
    columns: 3 auto;
    column-gap: 24px;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}