*{
    margin: auto;
    padding: auto;
}

body {
 margin: 12px;
 font-family: sans-serif;    
 background-color: rgb(148, 143, 143);
}

#wrap{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

#wrap #images{
    justify-content: center;
    align-items: center;
}

.content{
    width:100%;
    height: auto;
    top: 0;
    left: 0;
    position: bottom;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6;
}

.content:hover{
    opacity: 1;
}

.content h1{
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
}

.fa-solid {
    justify-content: center;
}