* {
    box-sizing: border-box;
}

body {
    margin: 12px;
    font-family: sans-serif;
    background-color: rgb(148, 143, 143);
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(148, 143, 143);
    align-items: center
}

#navbar a{
    font-family:monospace;
    color: white;
    padding: 10px;
    text-decoration: none;
}

#Info{
    justify-content: center;
    align-items: center;
    display: flex;
    image-rendering:auto;
}

#About{ 
    justify-content:center;
    align-items: center;
}

#About h2{
    text-align:center;
    padding: 1px;
}

#About p{
    text-align: center;
    padding: 4px;
}

#wrap{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

#wrap #images{
    justify-content: center;
    align-items: center;
}


.Contact{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Contact .Reason{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 100px;
}

.content{
    width:100%;
    height: auto;
    top: 0;
    left: 0;
    position: bottom;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6;
}

.content:hover{
    opacity: 1;
}

.content h1{
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
}

.fa-solid {
    justify-content: center;
}