*{
   box-sizing: border-box; 
}

body {
   margin: 12px;
   font-family: sans-serif;    
   background-color: rgb(148, 143, 143);
}

.Contacts {
   justify-content: center;
   align-items: center;
   

}